[submodule "thirdparty/postmarkup"]
	path = thirdparty/postmarkup
	url = https://github.com/SaintPeter/postmarkup
[submodule "thirdparty/DjangoBB"]
	path = thirdparty/DjangoBB
	url = git://github.com/Voltir/DjangoBB.git
