Django>=1.2
pygments
south
whoosh
django-guardian
django-haystack>=1.2.5
django-pagination
postmarkup
pyScss
django_compressor
https://github.com/arneb/django-messages/tarball/master#egg=django-messages
git+git://github.com/Kronuz/pyScss.git
