<div id="news_container">
    <div id="news_title">
        <h3>{{ newsitem.title }}</h3>
    </div>
    <div id="news">
        <p class="news_time">{{ newsitem.post_time }}</p>
        <div id="news_body">{{ newsitem.body_html|safe }}</div>
    </div>
    <div id="news_meta">
        <img src="{{ MEDIA_URL }}{{ newsitem.topic_image }}"/><br />
        <p class="news_submitter">Submitted By: {{ newsitem.submitter_username }}</p>
    </div>
    <div style="clear: both;"></div>
</div>
<br/>