{% extends 'news/base.html' %}
{% block title %} Preview {% endblock %}

{% block content %}
{% include 'news/newsitem.html' %}
<form method="post" action="">
 {% csrf_token %}
<table>
{{form}}
</table>
<input id="inputstage" type="hidden" name="{{ stage_field }}" value="2" />
<input type="hidden" name="{{ hash_field }}" value="{{ hash_value }}" />
<input type="submit" value="Preview Again" onclick="javascript:getElementById('inputstage').value='1';"/>
<input type="submit" value="Submit" />
</form>
{% endblock %}