{% extends 'news/base.html' %}
{% block title %} Preview {% endblock %}

{% block content %}
 <div id="news_container">
    <div id="news_title">
        <h3>{{ form.title.value }}</h3>
    </div>
    <div id="news">
        <p class="news_time">{{ form.post_time.value }}</p>
        <p>{{ form.body_html|safe }}</p>
    </div>
    <div id="news_meta">
        <img src="{{ MEDIA_URL }}{{ form.topic_image }}"/><br />
        <p class="news_submitter">Submitted By: {{ form.submitter_username }}</p>
    </div>
    <div style="clear: both;"></div>
</div>
<br/>
<form method="post" action="">
 {% csrf_token %}
<table>
{{form}}
</table>
<input type="submit" value="Submit" />
{% endblock %}