{% extends "admin/change_form.html" %}
{% block extrahead %}{{ block.super }}
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.sceditor.min.js"></script>

<script type="text/javascript">
    $(document).ready(function() {
        // Initialize the editor
        $("#id_body").sceditorBBCodePlugin({
        style: "{{ STATIC_URL }}css/jquery.sceditor.default.min.css",
        emoticonsRoot: "{{ STATIC_URL }}images/",
        });
        // Move the button where I want it
        $('.move_to_submit_row').insertBefore('.submit-row>input:first');
    }); 
    function doPreview() {
       // Force write to textarea
       $("#id_body").data("sceditor").updateTextareaValue ();
       // Do Ajaxy stuff
       $.ajax({type:'POST', url: '/news/preview_html/', data:$('#newsitem_form').serialize(), success: function(response) {
            $('#news_body').html(response);
        }});
        return false;
}   
</script>
{% endblock %}

{% block extrastyle %}{{ block.super }}
<link rel="stylesheet" href="{{ STATIC_URL }}css/default.min.css" type="text/css" media="all" />
<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}news/news.css" />
{% endblock %}

{% block after_field_sets %}
<h1>Preview</h1>
{% if newsitem %}
{% include 'news/newsitem.html' %}
</br>
<input value="HTML Preview" onclick="return doPreview();" class="move_to_submit_row" type="button"/>
{% endif %}{% endblock %}

