//$blue: #3bbfce;
$blue: #bbbbff;
$margin: 16px;

.content-navigation {
  border-color: $blue;
  color:
    darken($blue, 9%);
}

body {
    background-color: $blue;
}
.border {
  padding: $margin / 2;
  margin: $margin / 2;
  border-color: $blue;
}
